.ember-power-select-trigger{
  min-width:250px;
  height:34px;
  line-height:2.4;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.navbar-right-adjust{
  margin-right:0;
}

.nav-tabs {
    margin-bottom: 0;
}

.iti-flag{
  background-image: url(images/intl-tel-input/flags.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag{
    background-image: url(images/intl-tel-input/flags@2x.png);
  }
}
.intl-tel-input{
  width:100%;
  display:block;
}
.intl-tel-input input.form-control:focus{
  z-index:0;
}
.intl-tel-input .country-list{
  z-index:3;
}