{{#if isSuccess}}
  {{#bs-alert type="success"}}
    {{successMessage}}
  {{/bs-alert}}
{{/if}}

{{#if isFailure}}
  {{#bs-alert type="success"}}
    {{failureMessage}}
    {{#if errors}}
      <ul>
        {{#each errors as |error|}}
          <li>{{error.detail}}</li>
        {{/each}}
      </ul>
    {{/if}}
  {{/bs-alert}}
{{/if}}
