{{#if isSuccess}}
    <div class="alert success" role="alert">
        {{successMessage}}
    </div>
{{/if}}

{{#if isFailure}}
    <div class="alert danger" role="alert">
        {{failureMessage}}
    </div>
{{/if}}
